.main {
    
    height:900px;
    background:#FAF0E6;
    margin-left:100px;
    margin-right:100px;
    padding-top:60px;
    
    
}
.main-menu {
    height:40px;
    background:white;
    display:flex;
    
}
.logo {
    padding-top:-15px;
    width:300px;
    height:130px;
    margin-top: -20px;
    margin-right: 200px;
    position:absolute;
    top:70px;
    left:130px;
    transition: 2s;
    
}
.menu1 {
    margin-left:600px;
    width:120px;
    background:white;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid grey;
    border-left: 2px solid grey;

}
.menu {
    
    width:140px;
    background:white;
    
    text-align: center;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    
}
.head {
    font-size:15px;
    font-family: arial;
    color:grey;
    text-decoration: none;
   
}
.block {
    width:600px;
    height:470px;
    background-image: url(47_background_ru_ru.png);
    margin-top:60px;
    margin-left:80px;
    border-radius:30px;
    background-size: 100% 100%
}
.coar {
    width:260px;
    height: 400px;
    background:#FAF0E6;
    margin-left: 50px;
    margin-top:60px;
   
}
.flex {
    display: flex;
}
.head2 {
    font-family:arial;
    font-size:20px;
    color:darkred;
    margin:0;
}
.input {
    width:150px;
    height:21px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 20px
}
.map {
    width:260px;
    height:200px;
    margin-top:10px;
    border-radius:10px;
    margin-bottom:20px;
}
.promo {
    height:180px;
    width:260px;
    margin-top:10px;
    border-radius: 10px;
}

.menu1:hover {
    transition: 0.1s;
    background:#B22222;
}

.menu:hover {
    transition: 0.1s;
    background:#B22222;
}
.a {
    position:absolute;
    left:1130px;
    top:33px;
    font-size:20px;

}
.a1 {
    position:absolute;
    left:1130px;
    top:55px;
    font-size:20px;
}